@font-face {
  font-family: 'Prompt';
  src: url('@/assets/fonts/Prompt-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Prompt';
  src: url('@/assets/fonts/Prompt-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Prompt';
  src: url('@/assets/fonts/Prompt-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Prompt';
  src: url('@/assets/fonts/Prompt-Bold.ttf') format('truetype');
  font-weight: 700;
}
