services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_USER: user
      MYSQL_PASSWORD: userpassword
      MYSQL_DATABASE: devops
      TZ: Asia/Bangkok
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - app_net

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    restart: always
    ports:
      - "8080:80"
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
    depends_on:
      - mysql
    networks:
      - app_net

  frontend:
    image: ${CI_REGISTRY_IMAGE}/frontend:${IMAGE_TAG}
    container_name: nuxt_frontend
    restart: always
    ports:
      - "3000:3000"
    environment:
      - CHOKIDAR_USEPOLLING=true
      - NUXT_PUBLIC_API_BASE=http://192.168.10.30:3001/api
    depends_on:
      - mysql
    networks:
      - app_net

  backend:
    image: ${CI_REGISTRY_IMAGE}/backend:${IMAGE_TAG}
    container_name: express_backend
    restart: always
    ports:
      - "3001:3000"
    environment:
      - PORT=3000
      - DB_HOST=mysql
      - DB_USER=user
      - DB_PASSWORD=userpassword
      - DB_NAME=devops
      - DB_PORT=3306
      - JWT_SECRET=newfriend
    depends_on:
      - mysql
    networks:
      - app_net

  mqtt:
    image: eclipse-mosquitto
    container_name: mqtt_broker
    restart: always
    ports:
      - "1883:1883"
    volumes:
      - ./mosquitto/config:/mosquitto/config
    networks:
      - app_net

  nodered:
    image: nodered/node-red
    container_name: node_red
    restart: always
    ports:
      - "1880:1880"
    volumes:
      - ./nodered/settings.js:/data/settings.js
      - nodered_data:/data
    depends_on:
      - mysql
      - mqtt
    networks:
      - app_net

volumes:
  db_data:
  nodered_data:


networks:
  app_net:
    driver: bridge
